body {
    background-color:  pink;
  }
  
  h1 {
    color: white;
    text-align: left;
    font-size: 50px;
    line-height: 0%;
  }

  .underoverskrift {
    font-size: 20px;
    line-height: 200%;
  }