body {
    background-color:  whitesmoke;
  }
  
  h1 {
    text-align: left;
    font-size: 50px;
    line-height: 0%;
  }

  .underoverskrift {
    font-size: 20px;
    line-height: 100%;
  }
  .navn {
    line-height: 300%;
  }

  p {
    text-align: left;
    font-size: 20px;
    line-height: 100%;
  }